extends layout

block aside

    aside#aside
        section#name Larry Wong

        section#info
            h3 INFO
            p Yanlin Wong
            p Male
            p 1993.11

        section#contact
            h3 LOCATION
            p Shenzhen, China

            h3 E-MAIL
            p yanlin.wong@foxmail.com

            h3 PHONE
            p +86 137-6305-4980

        section#social
            h3 Github</h3>
            p
                a(href="http://www.github.com/Ingredia") github.com/Ingredia

            h3 Zcool
            p
                a(href="http://www.zcool.com.cn/u/13078612") zcool.com.cn/u/13078612
