extends layout

block content

    aside#aside
        section#name Larry Wong

        section#info
            h3 INFO
            p Yanlin Wong
            p Male
            p 1993.11

        section#contact
            h3 LOCATION
            p Shenzhen, China

            h3 E-MAIL
            p yanlin.wong@foxmail.com

            h3 PHONE
            p +86 137-6305-4980

        section#social
            h3 Github</h3>
            p
                a(href="http://www.github.com/Ingredia") github.com/Ingredia

            h3 Zcool
            p
                a(href="http://www.zcool.com.cn/u/13078612") zcool.com.cn/u/13078612

    div#c
        h3 Home
        p yanlin.wong@foxmail.com

        h3 Lofter
        p larry-wong.lofter.com

        h3 Weibo
        p 拾秋馆

        h3 Email
        p yanlin.wong@foxmail.com

        h3 Phone
        p +86 137 6305 4980

        h3 WeChat
        p YanLinnn

        button#button-close-tab
            img(src="img/btn-close.png")

    div#page
        //- button#button-menu
        //-     div
        //-     div
        //-     div

        div.hamburger.hamburger--spin#button-menu
            div.hamburger-box
                div.hamburger-inner

        section#tab
            p &gt;&nbsp;&nbsp;&nbsp;SOCIAL&nbsp;&nbsp;&nbsp;&amp;&nbsp;&nbsp;&nbsp;CONTACT

        article#home
            section#background <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 626 271.37"><defs><style>.a{fill:#fefefe;stroke:#202020;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>logo</title><path class="a" d="M220,187.44H208.5c-13.81,0-25,10.4-25,23.23V339.32" transform="translate(-182 -152.6)"/><path class="a" d="M235.5,339.32V263.61c0-12.83,11.19-23.23,25-23.23h11c13.81,0,25,10.4,25,23.23v75.71" transform="translate(-182 -152.6)"/><path class="a" d="M334,422.47h27.5c13.81,0,25-10.4,25-23.23V263.61c0-12.83-11.19-23.23-25-23.23h-13c-13.81,0-25,10.4-25,23.23v53c0,12.83,11.19,23.23,25,23.23H373" transform="translate(-182 -152.6)"/><path class="a" d="M466,240.39h-27.5c-13.81,0-25,10.4-25,23.23v75.71" transform="translate(-182 -152.6)"/><path class="a" d="M540.5,339.39H509.4c-13.77-.05-24.9-10.43-24.9-23.22V261.75c0-12.83,11.19-23.23,25-23.23h15c13.81,0,25,10.4,25,23.23v7.43c0,12.83-11.19,23.23-25,23.23H495" transform="translate(-182 -152.6)"/><path class="a" d="M642,152.6v164c0,12.83-11.19,23.23-25,23.23H600c-13.81,0-25-10.4-25-23.23v-53c0-12.83,11.19-23.23,25-23.23h29.5" transform="translate(-182 -152.6)"/><path class="a" d="M696,218.09h-0.5c-13.81,0-25,10.4-25,23.23v98" transform="translate(-182 -152.6)"/><path class="a" d="M808,339.79h-7.5c-13.81,0-25-10.4-25-23.23v-53c0-12.83-11.19-23.23-25-23.23h-14c-13.81,0-25,10.4-25,23.23v53c0,12.83,11.19,23.23,25,23.23H768" transform="translate(-182 -152.6)"/></svg>

            section#module
                ul
                    li(data-scroll="0")
                        div.ani.on
                        p HOME
                    li(data-scroll="1")
                        div.ani
                        p PORTFOLIO
                    li(data-scroll="2")
                        div.ani
                        p PROFILE

            button#button-next
                img(src="img/btn-next.png")

        article#portfolio
            section.title
                h2 PORTFOLIO

            section#container
                section.left
                    section.work.quarter
                        img.cover(src="img/letter_3.jpg")
                        div.mask
                        section.state
                            h3 TYPEFACE ART ACTIVITY
                    section.work.quarter
                        img.cover(src="img/letter_2.jpg")
                        div.mask
                        section.state
                            h3 TYPEFACE ART II ACTIVITY
                    section.work.half
                        img.cover(src="img/helo_cover.jpg")
                        div.mask
                        section.state
                            h3 HELO
                    section.work.quarter
                        img.cover(src="img/coach_cover.jpg")
                        div.mask
                        section.state
                            h3 COMPUTER TECH COACH
                    section.work.quarter
                        img.cover(src="img/planet_cover.jpg")
                        div.mask
                        section.state
                            h3 PLANET CLUB AGM

                section.right
                    section.work.half
                        img.cover(src="img/poet_cover.jpg")
                        div.mask
                        section.state
                            h3 I AM POET ACTIVITY
                    section.work.quarter
                        img.cover(src="img/peace_1.jpg")
                        div.mask
                        section.state
                            h3 LOWPOLY SCENE SIDE
                    section.work.quarter
                        img.cover(src="img/island_1.jpg")
                        div.mask
                        section.state
                            h3 LOWPOLY SCENE ISLAND

                    section#more
                        h3 ...

        article#about
            section.title
                h2 PROFILE

            section#photo
                img(src="img/photo.jpg")

            section#intro Hello. My name is Larry Wong. I am a web developer and designer living in Shenzhen. Typically I use HTML/CSS, JavaScript, Illustrator and Photoshop to work. For me, 'design and development' is an enjoyful process. I'd like to keep passionate with it.<br/><br/>Ingredia is my homepage to display a selection of my works. Thank for your visit. Please contact me when any problem is found.

            section#download To learn more, you can download my resume here:

            button#button-download
                a(href="yanlin_wong.pdf", target="_blank") DOWNLOAD RESUME

            footer#footer
                p © Yanlin Wong 2015 |
                    span(style="cursor: pointer;") Ingredia
